:root {
  --dark-color: #212121;
  --primary-color: #8bc34a;
  --text-color: #212121;
}

body {
  font-family: system-ui;
  text-align: center;
  margin-top: 40px;
  font-size: 1.5em;
  color: var(--text-color);
}

h4 {
  font-weight: normal;
  margin-bottom: 5px;
}

h1 {
  font-weight: normal;
  margin-top: 0;
  margin-bottom: 40px;
  font-size: 2em;
}

img {
  width: 60vw;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

main * {
  margin-bottom: 12px;
}

/* Styling file input */
input[type="file"] {
  display: none; /* Hide default input */
}

label[for="file"] {
  display: inline-block;
  padding: 10px 20px;
  background: var(--primary-color);
  color: white;
  font-size: 1em;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
}

label[for="file"]:hover {
  background: #7cb342;
}

/* Error message styling */
#errorMsg {
  color: red;
  font-size: 0.8em;
  display: none;
}

/* Input field styling */
input {
  text-align: center;
  font-size: large;
  outline: none;
  border: none;
  border-bottom: 1px solid black;
  text-transform: capitalize;
}

/* Autofill styling */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 5000s ease-in-out 0s;
  -webkit-text-fill-color: var(--dark-color) !important;
}

/* Button styling */
button {
  background: var(--primary-color);
  color: white;
  border: none;
  font-size: 1em;
  padding: 10px 20px;
  margin-top: 20px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
}

button:hover {
  background: #7cb342;
}

/* Links */
a {
  color: #6492f6;
}

/* Dark mode styling */
@media (prefers-color-scheme: dark) {
  body {
    background: var(--dark-color);
    color: white;
  }

  input,
  input:active {
    background: var(--dark-color);
    border-color: white;
    color: white;
  }

  label[for="file"],
  button {
    background: #7cb342;
  }

  label[for="file"]:hover,
  button:hover {
    background: #689f38;
  }

  a {
    color: #90caf9;
  }

  /* Autofill styling */
  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  input:-webkit-autofill:active {
    -webkit-text-fill-color: white !important;
  }
}

#link {
  color: white;
}